<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. CK. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.activationplatform.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.tyj.activationplatform.bean.bo.User">
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    `Id`, `name`, `password`, `email`, `phone`, `role_id`, `sex`, `status`, `create_time`
  </sql>
  <insert id="insert" parameterType="com.tyj.activationplatform.bean.bo.User" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
    insert into `tb_user` (`name`, `password`, `email`, 
      `phone`, `role_id`, `sex`, 
      `status`, `create_time`)
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, #{sex,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
    ]]>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into `tb_user` (`name`, `password`, `email`, 
      `phone`, `role_id`, `sex`, 
      `status`, `create_time`)
     values 
    <foreach collection="list" item="item" index="index" separator=",">
       (#{item.name,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, 
        #{item.phone,jdbcType=VARCHAR}, #{item.roleId,jdbcType=INTEGER}, #{item.sex,jdbcType=TINYINT}, 
        #{item.status,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tyj.activationplatform.bean.bo.User" useGeneratedKeys="true" keyProperty="id">
    insert into `tb_user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="email != null">
        `email`,
      </if>
      <if test="phone != null">
        `phone`,
      </if>
      <if test="roleId != null">
        `role_id`,
      </if>
      <if test="sex != null">
        `sex`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `tb_user`
    where `Id` = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tb_user`
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tb_user`
    where `Id` = #{id,jdbcType=INTEGER}
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from `tb_user`
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyj.activationplatform.bean.bo.User">
    update `tb_user`
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        `email` = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        `phone` = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        `role_id` = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        `sex` = #{sex,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `Id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyj.activationplatform.bean.bo.User">
    update `tb_user`
    set `name` = #{name,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `email` = #{email,jdbcType=VARCHAR},
      `phone` = #{phone,jdbcType=VARCHAR},
      `role_id` = #{roleId,jdbcType=INTEGER},
      `sex` = #{sex,jdbcType=TINYINT},
      `status` = #{status,jdbcType=TINYINT},
      `create_time` = #{createTime,jdbcType=TIMESTAMP}
    where `Id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>