<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. CK. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.activationplatform.dao.UserMapper">
    <select id="findPageUser" resultType="com.tyj.activationplatform.bean.dto.UserDto">
        SELECT
        a.`Id`, a.`name`, a.`password`, a.`email`, a.`phone`, a.`role_id` roleId,
        a.`sex`, a.`status` status, a.`create_time` createTime, b.name roleName
        FROM
        tb_user a
        join tb_role b
        on a.role_id = b.id
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` like CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
</mapper>